@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
.prose { max-width: 65ch; }
/* in globals.css */

html, body {
  background-color: #f5f5f7;
  font-feature-settings: "ss01", "ss02", "cv01";
}
